body {
    font-family: Arial, sans-serif;
    margin: 20px;
    position: relative;
}

h1, h2 {
    color: #333;
}

.status-box {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-indicator.green {
    background-color: green;
}

.status-indicator.red {
    background-color: red;
}

.command-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.command-section {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.command-section:last-child {
    margin-right: 0;
}

.switch-group, .motor-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.switch-group label, .motor-group label {
    width: 150px;
    margin-right: 10px;
}

.switch-option {
    display: flex;
    align-items: center;
    margin-right: 15px;  /* Adjust spacing between pairs */
}

.switch-option input[type="radio"] {
    margin-right: 5px;  /* Adjust spacing between checkbox and label */
}

#sensor_data_display {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#sensor_data_display div {
    margin-bottom: 5px;
}

label {
    font-weight: bold;
}
